@use 'styles/setup' as *;

.component {
  aspect-ratio: 1;
  color: inherit;
  display: inline-flex;
  flex: 0 0 auto;

  .icon {
    color: inherit;
    min-height: 100%;
    min-width: 100%;
  }

  [fill='black'],
  [fill='#000'] {
    fill: currentcolor;
  }

  [stroke='black'],
  [stroke='#000'] {
    stroke: currentcolor;
  }
}
