@use 'styles/setup' as *;

/* stylelint-disable no-descending-specificity, selector-disallowed-list */

.component {
  @include typography-bodyMedium() {
    > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    ol,
    ul {
      list-style: none;
      margin-bottom: $spacing-ml;
      margin-left: 0;

      @include breakpoint-up($breakpoint-laptop) {
        margin-bottom: $spacing-l;
      }

      ol,
      ul {
        margin-top: $spacing-sm;
      }

      @include breakpoint-up($breakpoint-laptop) {
        margin-bottom: $spacing-m;

        ol,
        ul {
          margin-top: $spacing-sm;
        }
      }
    }

    ol li,
    ul li {
      counter-increment: custom;
      margin-bottom: $spacing-sm;
      padding-left: $spacing-m;
      position: relative;

      @include breakpoint-up($breakpoint-laptop) {
        margin-bottom: $spacing-m;
      }

      &:last-child {
        margin-bottom: 0;
      }

      ol,
      ul {
        padding-left: $spacing-l;
      }

      &::before {
        left: -$spacing-sm;
        position: absolute;
      }
    }

    ol li {
      list-style: decimal;
      padding-left: $spacing-xs;
    }

    ul li {
      list-style: disc;
      padding-left: $spacing-xs;
    }

    ul {
      > li {
        list-style: none;
        margin-left: -$spacing-xs;
        padding-left: $spacing-sm;

        &::before {
          content: '•';
          font-weight: $fontWeight-bold;
          max-width: $spacing-m;
          min-width: $spacing-m;
          text-align: center;
        }
      }
    }

    ol {
      > li {
        list-style: none;
        margin-left: $spacing-sm;
        padding-left: $spacing-sm;

        & > :first-child {
          counter-reset: custom;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: counter(custom);
          font-weight: $fontWeight-bold;
          max-width: $spacing-ml;
          min-width: $spacing-ml;
        }

        &:nth-child(-n + 9)::before {
          content: '0' counter(custom);
        }
      }
    }

    h2 {
      @include typography-displaySmall() {
        padding-bottom: $spacing-m;
      }
    }

    h3 {
      @include typography-headlineLarge() {
        font-weight: $fontWeight-bold;
        padding-bottom: $spacing-xs;
      }
    }

    h4 {
      @include typography-bodyMedium() {
        font-weight: $fontWeight-bold;
      }
    }

    h5,
    h6 {
      @include typography-bodyMedium() {
        font-weight: $fontWeight-bold;
      }
    }

    p b,
    p strong {
      font-weight: $fontWeight-semiBold;
    }

    a {
      text-decoration: underline;
    }

    h1,
    p {
      margin-bottom: $spacing-sm;

      @include breakpoint-up($breakpoint-laptop) {
        margin-bottom: $spacing-m;
      }
    }

    /* pseudo class used to escape compiled module classname */
    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    :global {
      /* classname is defined by cookie information */
      /* stylelint-disable-next-line selector-class-pattern */
      .CookieDeclarationHeader {
        @include typography-displayMedium();
      }

      /* classname is defined by cookie information */
      /* stylelint-disable-next-line selector-class-pattern */
      .coi-purpose-list:not(:empty) {
        display: inline-block;
      }
    }
  }
}
