@use 'styles/setup' as *;

.component {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .button {
    display: flex;
    margin-bottom: $spacing-xs;
    margin-right: $spacing-xs;
  }

  .break {
    flex-basis: 100%;
    height: 0;
    max-height: 0;
    width: 100%;
  }
}
