@use 'sass:map';
@use 'styles/setup' as *;

.component {
  .row {
    align-items: center;

    @each $key, $value in $gridGutters {
      @include breakpoint-up(map.get($breakpoints, $key)) {
        padding-block: rem($value);
      }
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .detailsColumn {
    @include breakpoint-down($breakpoint-laptop) {
      display: none;
    }
  }
}
