$tubeGradient: linear-gradient(
  0deg,
  rgb(255, 255, 255, 0%) 0%,
  rgb(255, 255, 255, 30%) 26.5%,
  rgb(255, 255, 255, 0%) 66.5%,
  rgb(255, 255, 255, 50%) 77.5%,
  rgb(255, 255, 255, 0%) 94%
);

// Category gradients
@mixin exploreCategoryGradient($startColor, $endColor) {
  background:
    linear-gradient(
      0deg,
      rgb(0, 0, 0, 40%) 0%,
      rgb(0, 0, 0, 0%) 20%,
      rgb(0, 0, 0, 0%) 80%,
      rgb(0, 0, 0, 40%) 100%
    ),
    linear-gradient(0deg, $startColor 0%, $endColor 100%);
}

// Range gradients
@mixin exploreRangeBaseGradient($startColor, $endColor) {
  background: linear-gradient(
    0deg,
    var($endColor) 0%,
    var($startColor) 50%,
    #fff 100%
  );
}

@mixin exploreRangeSecondGradient($startColor, $endColor) {
  background:
    linear-gradient(
      0deg,
      rgb(0, 0, 0, 40%) 0%,
      rgb(0, 0, 0, 0%) 20%,
      rgb(0, 0, 0, 0%) 80%,
      rgb(0, 0, 0, 40%) 100%
    ),
    linear-gradient(0deg, var($endColor) 0%, var($startColor) 49.5%, #fff 100%);
}

@mixin exploreRangeTubeGradient() {
  background: $tubeGradient;
}
