$palette-blue90: #06038d;
$palette-blue40: #0050fc;
$palette-brown10: #676057;
$palette-brown15: #271f15;
$palette-brown20: #7e726b;
$palette-brown25: #463e3a;
$palette-darkGrey10: #737476;
$palette-darkGrey15: #23262b;
$palette-darkGrey20: #747677;
$palette-darkGrey25: #4d5051;
$palette-darkGrey30: #737373;
$palette-darkGrey35: #3e3e3e;
$palette-green10: #929390;
$palette-green15: #2d3222;
$palette-grey90: #181616;
$palette-grey80: #2a3238;
$palette-grey70: #58626e;
$palette-grey60: #87919e;
$palette-grey30: #bcbcbc;
$palette-grey20: #e8e8eb;
$palette-grey10: #dedee0;
$palette-grey05: #f2f2f5;
$palette-sand05: #f2f2eb;
$palette-red100: #e31837;
$palette-red90: #c83317;
$palette-red40: #ec6046;
$palette-white: #fff;
$palette-black: #000;
$palette-purple40: #b800ae;
$palette-purple90: #570054;
